.movie-card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    margin-bottom: 30px;
    transition: .7s;

    a {
      margin-top: auto;
    }

    &:hover {
        cursor: pointer;
        transition: .7s;
    }

    &:hover .title {
        transition: .7s;
        color: #ff4545;
    }

    &:hover img {
      transition: .7s;
      transform: scale(1.05);
    }
  
    .poster {
      height: 320px;
      width: 25%;
      display: flex;
      justify-content: center;
      min-width: 240px;
  
      img {
        width: 220px;
        margin-bottom: 20px;
        object-fit: fill;
        transition: .7s;
      }
    }
  
    .title {
      text-align: center;
      max-width: 200px;
      letter-spacing: 2px;
      transition: 0.5s;
    }
  
    .movie-card_plot {
      width: 220px;
      font-size: 14px;
      letter-spacing: 0px;
      color: lightgray;
    }
  }