.layout {
    width: 100vw;
    height: 100vh;
    background-color: rgb(30, 30, 30);
    opacity: 0.5;
    top: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-window-container {
    width: 40%;
    height: 350px;
    background: white;
    color: rgb(30, 30, 30);
    letter-spacing: 2px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    position: absolute;
    opacity: 1;
    z-index: 11;
    position: fixed;
      top: 20%;

    .error-message {
      color: #ff4545;
      font-size: 12px;
      margin: 0;
    }

    .success-message {
      color: green;
      font-size: 12px;
      margin: 0;
    }
  
    small {
      font-size: 10px;
    }
  
    .login-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
  
      .dark-button {
        margin-top: 30px;
      }
    }
  }

  .app-input {
    height: 30px;
    margin-top: 20px;
    padding-left: 10px;
    outline: none;
    width: 100%;
  }

  .app-input.redOutline {
    border: #ff4545 2px solid;
  }