.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-top: 20px;
    width: 100%;

    .navbar-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        display: flex;

        li, a {
            list-style: none;
            padding-left: 50px;
            list-style: none;
            color: white;
            text-decoration: none;
            transition: .5s;
            padding-left: 50px;

                &:hover {
                    color: #ff4545;
                    cursor: pointer;
                }

                a:hover {
                    color: #ff4545;
                    cursor: pointer;
                }
        }
    }
}

@media (max-width: 600px) {
    .navbar-container {
        flex-direction: column;

        ul {
            flex-direction: column;
            padding: 0;

            li {
                padding: 0;
                text-align: center;

                a {
                    padding: 0;
                }
            }
        }
    }
}